<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar produto</title>
</head>
<body>
    
    <form th:action="@{'/web/novoPost'}" method="post" 
    th:object="${produto}">
        Nome:
        <input type="text" name="nome" 
        th:field="*{nome}">
        <br>
        Preço
        <input type="text" name="preco"
        th:field="*{preco}">
        <br>
        <input type="submit" value="Enviar" name="Enviar">
        <input type="reset" value="Limpar" name="Limpar">

    </form>
</body>
</html>